@import "../../styles/app.scss";

.cursor{
    border-left: 0.1em solid $font-color;
    animation: blink .7 steps(1) infinite;
}
@keyframes blink {
    50%{
        border-color: transparent;
    }
}
.typer{
    font-family:$font-family-second;
    font-size: $font-size-lg;
}   
